py~=1.9.0
colorama~=0.4.4
pip~=20.2.4
zlib~=1.2.11
wheel~=0.35.1
openssl~=1.1.1h
cryptography~=3.1.1
lxml~=4.6.1
tornado~=6.0.4
keyring~=21.4.0
attrs~=20.3.0
toml~=0.10.1
importlib_metadata~=2.0.0
pytest~=6.1.1
wcwidth~=0.2.5
pluggy~=0.13.1
typing_extensions~=3.7.4.3
iniconfig~=1.1.1
atomicwrites~=1.4.0
pexpect~=4.8.0
numpy~=1.19.2
certifi~=2020.6.20
urllib3~=1.25.11
six~=1.15.0
idna~=2.10
chardet~=3.0.4
selenium~=3.141.0
pyparsing~=2.4.7
setuptools~=50.3.1
cython~=0.29.21
future~=0.18.2
docutils~=0.16